# IS 362 Week 3 Project 1

(1) Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change the structure of the information as you like.
(2) Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the two airlines.
(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your analysis and conclusions.

First step is to import pandas so we can get started with the flightinfo.csv I created.

In [31]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
flightinfo = pd.read_csv("C:/Users/johnj/IS 362 Spring 2018/Week 3 Project 1/flightinfo.csv")

The head() command will allow me to view the data.

In [32]:
flightinfo.head()

     ArrivalCity  AlaskaOnTime  AlaskaDelayed  AMWestOnTime  AMWestDelayed
0    Los Angeles           497             62           694            117
1        Phoenix           221             12          4840            415
2      San Diego           212             20           383             65
3  San Francisco           503            102           320            129
4        Seattle          1841            305           201             61

My data is displayed with the cities as rows and the flight data for the two airlines as columns. The flight data has been broken into two columns for each airline consisting of on-time and delayed data flight info.

Using the insert() command I will add two more columns. These columns will provide a total of flights to each city from each airline. First will be the "AlaskaTotalFlights".

In [33]:
flightinfo.insert(3, 'AlaskaTotal', flightinfo.AlaskaOnTime + flightinfo.AlaskaDelayed)

The next one will be the "AMWestTotal".

In [34]:
flightinfo.insert(6, 'AMWestTotal', flightinfo.AMWestOnTime + flightinfo.AMWestDelayed)

Now I will view the data to ensure that it is displaying properly.

In [35]:
flightinfo

,ArrivalCity,AlaskaOnTime,AlaskaDelayed,AlaskaTotal,AMWestOnTime,AMWestDelayed,AMWestTotal
0,Los Angeles,497,62,559,694,117,811
1,Phoenix,221,12,233,4840,415,5255
2,San Diego,212,20,232,383,65,448
3,San Francisco,503,102,605,320,129,449
4,Seattle,1841,305,2146,201,61,262

Now that our table looks good we can start to manipulate the data set. Since each airline has a different amount of flights to each city I will calculate the different percentages for each city.

I will add two more columns that will compute the percentage rate for each airline and each city. This will give me better insight as to which airline has a worse arrival delay percentage for each destination.

First column will be for Alaska Airline, "AlaskaPercentage".

In [36]:
flightinfo.insert(4, 'AlaskaPercentage', (flightinfo.AlaskaDelayed / flightinfo.AlaskaTotal) * 100)

The next column I will add will be for AM West Ailine, "AMWestPercentage".

In [37]:
flightinfo.insert(8, 'AMWestPercentage', (flightinfo.AMWestDelayed / flightinfo.AMWestTotal) * 100)

Once again I will check my table to ensure that the calculations are being displayed properly.

In [38]:
flightinfo

,ArrivalCity,AlaskaOnTime,AlaskaDelayed,AlaskaTotal,AlaskaPercentage,AMWestOnTime,AMWestDelayed,AMWestTotal,AMWestPercentage
0,Los Angeles,497,62,559,11.09,694,117,811,14.43
1,Phoenix,221,12,233,5.15,4840,415,5255,7.90
2,San Diego,212,20,232,8.62,383,65,448,14.51
3,San Francisco,503,102,605,16.86,320,129,449,28.73
4,Seattle,1841,305,2146,14.21,201,61,262,23.28

Everything seems to be lined up properly and the calculations look accurate. Now I can start to fulfill the requirements for the assignment and display just the data concerning the delay percentages.

The next line of code will display a table with the cities, Alaska's delay percentages, and AM West's delay percentages.

In [41]:
delayrates = flightinfo[['ArrivalCity', 'AlaskaPercentage', 'AMWestPercentage']]
delayrates

     ArrivalCity  AlaskaPercentage  AMWestPercentage
0    Los Angeles             11.09             14.43
1        Phoenix              5.15              7.90
2      San Diego              8.62             14.51
3  San Francisco             16.86             28.73
4        Seattle             14.21             23.28

My table looks good and the conditions for the assignment are fulfilled.

# Conclusion

AM West Airlines has a higher percentage of arrival delays than Alaska Airlines in every city when comparing the two.